<title>Home / App</title>
<div class="text-center container-fluid">
    <div>
        <% if (currentUser) { %>
            Proximamente...
    </div>
    <% } else { %>
        <p>Por favor <a href="/login">inicia sesion</a> o <a href="/register">Registrate</a> para acceder a este contenido.</p>
    <% } %>
</div>